.landing {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 80px 20px 40px 20px;
    animation: fadeIn ease 2s;
    -webkit-animation: fadeIn ease 2s;
    -moz-animation: fadeIn ease 2s;
    -o-animation: fadeIn ease 2s;
    -ms-animation: fadeIn ease 2s;
}

@keyframes fadeIn {
    0% {
      opacity:0;
    }
    100% {
      opacity:1;
    }
  }
  
@-moz-keyframes fadeIn {
    0% {
      opacity:0;
    }
    100% {
      opacity:1;
    }
  }
  
@-webkit-keyframes fadeIn {
    0% {
      opacity:0;
    }
    100% {
      opacity:1;
    }
  }
  
@-o-keyframes fadeIn {
    0% {
      opacity:0;
    }
    100% {
      opacity:1;
    }
  }
  
@-ms-keyframes fadeIn {
    0% {
      opacity:0;
    }
    100% {
      opacity:1;
  }
}

.landing-title {
    margin-bottom: 0;
}

.landing-steps {
    margin: 10px;
    max-width: 600px;
}

.landing-form-title {
    margin: 10px 0 20px 0;
}

.landing-form {
    margin: 20px;
    width: 100%;
    text-align: center;
}

.places-auto {
    width: 100%;
    min-width: 200px;
}

@media screen and (min-width: 640px) {
  .landing {
      padding: 100px 20px 40px 20px; 
      height: 100vh; 
  }

  .landing-steps {
      margin: 20px;
  }

  .places-auto {
      width: 70%;
      max-width: 500px;
  }
  .landing-login {
    margin-top: 20px;
  }
}