.report {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 80px 0px 60px 0px;
}

.report-table {
    margin-left: auto;
    margin-right: auto;
    border: 1px solid #666666;
    width: 80%;
    max-width: 640px;
}

.report-title {
    font-size: 28px;
}

td,
th {
    border: 1px solid #666666;
    padding: 5px;
}
  
thead,
tfoot {
    background-color: #666666;
    color: #fff;
}

.button-start-new {
    background-color: #222222;
    color: #fff;
    margin-top: 40px;
}

@media screen and (min-width: 640px) {
    .report {
        padding: 100px 20px 40px 20px;  
    }
}