.report {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 90px 0px 60px 0px;
}

.report-table {
    margin-left: auto;
    margin-right: auto;
    border: 1px solid #36008D;
    width: 80%;
    max-width: 640px;
}

table {
    border-collapse: collapse;
}

td,
th {
    border: 1px solid #36008D;
    padding: 10px;
}

td {
    text-align: left;
}
  
thead,
tfoot {
    background-color: #fff;
    color: #fff;
}

.button-edit {
    margin: 10px;
    color: #36008D;
}

.button-edit:visited {
    color: #36008D;
}

.report-buttons {
    margin-top: 30px;
}

@media screen and (min-width: 640px) {
    .report {
        padding: 100px 20px 40px 20px;  
    }
}