.footer {
    padding: 20px;
    display: flex;
    align-items: center;
    width: 100%;
    background-color: #36008D;
    height: 60px;
    font-size: 14px;
}

.footer-nav {
    position: absolute;
    left: 20px;
}

.copyright {
    position: absolute;
    right: 20px;
}

.copyright-link:hover {
    color: #FFCD00;
}

.saved-reports:hover {
    color: #FFCD00;
}

@media screen and (min-width: 640px) {
    .footer {
        height: 70px;
        font-size: 16px;
    }

    .footer-nav {
        left: 40px;
    }

    .copyright {
        right: 40px;
    }
}