.footer {
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    background-color: #aaa;
    height: 50px;
    font-size: 14px;
}

@media screen and (min-width: 640px) {
    .footer {
        height: 60px;
        font-size: 16px;
    }

    .footer-nav {
        margin-left: 20px;
    }

    .copyright {
        margin-right: 20px;
    }
}