* {
  box-sizing: border-box;
  margin: 0;
}

html {
  background-color: #f7f7f7;
  margin: 0;
  height: 100%;
}

body {
  margin: 0;
  font-size: 18px;
  font-family: 'Source Sans Pro', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h1 {
  font-size: 36px;
  margin: 10px;
}

h2 {
  font-size: 24px;
}

h3 {
  font-size: 20px;
}

h1, h2, h3, h4 {
  font-family: 'Dosis', sans-serif;
  font-weight: 600;
}

p {
  margin: 3px 0 3px 0;
}

form {
  margin: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: left;
  width: 90%;
}

a {
  color: #000000;
  text-decoration: none;
}

a:hover,
input:hover,
button:hover {
  cursor: pointer;
}

a:visited {
  color: #000000;
}

input {
  width: 100%;
  box-sizing: border-box;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

input,
select,
button {
  margin: 5px 10px 20px 10px;
  padding: 12px 20px;
  font-size: 16px;
  border: 1px solid #000000;
  border-radius: 100px;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 18px;
}

button,
.submit-button:hover {
  cursor: pointer;
}

button:hover,
input[type=submit]:hover {
  color: #fff;
  background-color: #000000;
}

.submit-button {
  width: 120px;
  margin: 20px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.active {
  border-bottom: 1px solid;
  padding: 3px;
}

@media screen and (min-width: 640px) {
  h1 {
    font-size: 46px;
    margin: 20px;
  }
  
  h2 {
    font-size: 32px;
  }
  
  h3 {
    font-size: 24px;
  }
  
  form {
    min-width: 500px;
    width: 30%;
  }
}