* {
  box-sizing: border-box;
  margin: 0;
}

html {
  background-color: #ffffff;
  color: #393F4D;
  margin: 0;
  height: 100%;
}

body {
  margin: 0;
  font-family: 'Source Sans Pro', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body,
button,
input,
a,
select {
  font-size: 16px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h1 {
  font-size: 36px;
  margin: 10px;
}

h2 {
  font-size: 24px;
}

h3 {
  font-size: 20px;
}

h1, h2, h3, h4 {
  font-family: 'Dosis', sans-serif;
  font-weight: bold;
  color: #36008D;
}

p {
  margin: 3px 0 3px 0;
}

form {
  margin: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: left;
  width: 90%;
}

a {
  color: #ffffff;
  text-decoration: none;
}

a:hover,
input:hover,
button:hover {
  cursor: pointer;
}

a:visited {
  color: #ffffff;
}

input {
  width: 100%;
  box-sizing: border-box;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

input[type=text]:focus,
input[type=number]:focus,
select:focus {
  background-color: #FFCD00;
}

/* change autofill styles */
input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active  {
  transition: background-color 5000s;
  -webkit-text-fill-color: #36008D !important;
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

input,
select,
button {
  margin: 5px 10px 20px 10px;
  padding: 12px 20px;
  border-radius: 100px;
  font-family: 'Source Sans Pro', sans-serif;
}

input,
select {
  color: #36008D;
  border: 2px solid #36008D;
  background: none;
}

button,
input[type=submit] {
  color: #36008D;
  background-color: #FFCD00;
  border: 2px solid #FFCD00;
  transition: 0.3s;
}

button:hover,
input[type=submit]:hover {
  color: #ffffff;
  background-color: #36008D;
  border: 2px solid #36008D;
}

button,
.submit-button:hover {
  cursor: pointer;
}

.button-invert {
  color: #ffffff;
  background-color: #36008D;
  border: 2px solid #36008D;
  transition: 0.3s;
}

.button-invert:hover {
  color: #36008D;
  background-color: #FFCD00;
  border: 2px solid #FFCD00;
}

.submit-button {
  width: 120px;
  margin: 20px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.active {
  border-bottom: 1px solid;
  padding: 3px;
}

.active:hover {
  color: #FFCD00;
}

.demo {
  margin: 20px 0px;
  padding: 20px;
  color: #ffffff;
  background: #36008D;
  border-radius: 5px;
}

.error {
  margin: 20px 0px;
  padding: 20px;
  color: #ffffff;
  background: #FE5E54;
  border-radius: 5px;
  text-align: center;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #FE5E54;
  opacity: 1; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: #FE5E54;
}

::-ms-input-placeholder { /* Microsoft Edge */
  color: #FE5E54;
}

@media screen and (min-width: 640px) {
  body,
  button,
  input,
  a,
  select {
    font-size: 18px;
  }

  h1 {
    font-size: 46px;
    margin: 20px;
  }
  
  h2 {
    font-size: 32px;
  }
  
  h3 {
    font-size: 24px;
  }
  
  form {
    min-width: 500px;
    width: 30%;
  }
}