.progressbar {
    font-size: 12px;
    margin: 0;
    display: flex;
    justify-content: space-evenly;
    color: #36008D;
    background-color: #ffffff;
    padding: 3px 7px 3px 7px;
    border-radius: 100px;
}

.dot,
.arrow {
    margin: 2px;
}

@media screen and (min-width: 640px) {
    .progressbar {
        font-size: 16px;
        margin: 0;
        padding: 5px 10px 5px 10px;
    }

    .dot,
    .arrow {
    margin: 5px;
}
}