.progressbar {
    font-size: 14px;
    margin: 10px;
}

.progressbar-title,
.dot,
.arrow {
    margin: 5px;
}

@media screen and (min-width: 640px) {
    .progressbar {
        font-size: 16px;
        margin: 8px;
        display: flex;
        justify-content: space-evenly;
    }
}